name: Test

on:
    pull_request:
    workflow_call:

jobs:
    test:
        name: Test for python ${{ matrix.python-version }} on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest]
                python-version: ["3.10", "3.11"]
        steps:
            - name: Check out code
              uses: actions/checkout@v4
            - name: setup docker buildx
              id: buildx
              uses: docker/setup-buildx-action@v3
              with:
                driver: docker-container
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Make build
              run: make build
            - name: Make run-local
              run: make run-local
